---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const tableaux = await getCollection("tableaux");
---

<Layout pageTitle="Galerie">
    <h1>Galerie</h1>

    <div class="paintings_filter">
        <button class="activated">Tous les tableaux</button>
        <button>Disponibles à l'achat</button>
    </div>

    <section>
        <ul>
            {
                tableaux
                    .sort((a, b) => b.data.date_created.getTime() - a.data.date_created.getTime())
                    .map((item) => (
                    <li>
                        <a href=`/galerie/${item.id}` >
                            <article>
                                <div class="image-container">
                                    <img src=`/content${item.data.image}` alt=`${item.data.title}` >
                                </div>

                                <div class="infos">
                                    <h2>{item.data.title}</h2>
                                    <p>{item.data.date_created.toLocaleDateString(undefined, { year: 'numeric' })}</p>
                                </div>
                            </article>
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>

<script>
    document.addEventListener('astro:page-load', () => {
        const button_all_paintings = document.querySelector('div.paintings_filter button:nth-child(1)')
        const button_for_sale = document.querySelector('div.paintings_filter button:nth-child(2)')
        
        button_all_paintings?.addEventListener('click', () => {
            button_for_sale?.classList.remove('activated');
            button_all_paintings?.classList.add('activated');
        })
        
        button_for_sale?.addEventListener('click', () => {
            button_all_paintings?.classList.remove('activated');
            button_for_sale?.classList.add('activated');
        })
    });
</script>

<style lang="scss">
    h1 {
        @include font-title();
    }

    div.paintings_filter {
        margin-top: 1rem;
        width: fit-content;
        border: solid 1px $color-primary;
        display: flex;

        button {
            background: unset;
            border: unset;
            padding: .5rem;
            color: $color-gray;
            font-size: $fontsize-primary;
            font-family: $fontface-medium;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            @extend %transition;
        }

        button.activated {
            color: $color-white;
        }

        button::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-primary;
            z-index: -1;
            @extend %transition;
        }

        button:nth-child(1)::before {
            transform: translateX(100%);
        }
        
        button:nth-child(2)::before {
            transform: translateX(-100%);
        }

        button.activated::before {
            transform: translateX(0);
        }
    }

    section {
        margin-top: 4rem;
        
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;

            li {
                flex: 0 0 calc(50% - 2rem);
                box-sizing: border-box;
                background: $color-secondary;
                border: solid .25rem rgba($color-primary, 0);
                border-radius: .5rem;
                @extend %transition;

                &:hover {
                    border: solid .25rem rgba($color-primary, 1);
                }

                article {
                    padding: 1rem;
                    
                    div.image-container {
                        width: 100%;
                        aspect-ratio: 4 / 3;
                        overflow: hidden;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            @extend %transition;
                        }
                    }
    
    
                    div.infos {
                        margin-top: 2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
    
                        h2 {
                            font-family: $fontface-semibold;
                            font-size: $fontsize-secondary;
                        }
                    }
                }

            }
        }
    }
</style>