---
import LastNews from "../components/LastNews.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section id="hero" slot="hero">
        <h1>
            Philippe<br />
            <span>Journiac</span>
            Artiste peintre
        </h1>
    </section>

    <section id="biography">
        <div>
            <h2>Biographie</h2>

            <p>
                Né en 1958, c’est à Redon que j’ai eu la chance d’être encadré
                par un professeur d’art de 11 ans à 14 ans. C’est ainsi que je
                réalisais à l’âge de 12 ans un concours inter collège où je me
                suis vu attribuer un prix. Je repris quelques instants mes
                pinceaux seulement en 1995 pour réaliser le concours de «
                Solidor en peinture » à St Malo, cette œuvre réalisée sur le
                site fut primée. En août 2023, je suis revenu de manière
                intensive à mes pinceaux. Inspiré par l’impressionnisme mes
                œuvres comprennent des marines, des paysages et des natures
                mortes. Je décris chaque toile comme une mélodie visuelle ou les
                couleurs vibrent pour créer une harmonie émotionnelle. Je peins
                sur motif et en atelier, j’infuse chaque création de passion et
                d’âme sans chercher à démontrer, mais juste à exposer le réel.
            </p>

            <a href="/galerie">Découvrir les tableaux</a>
        </div>

        <img
            src="/public/images/photo-biographie.png"
            alt="Photo de Philippe Journiac en train de peindre."
        />
    </section>

    <LastNews />
</Layout>

<script>
    document.addEventListener("astro:page-load", () => {
        const header = document.querySelector("header");
        const sectionHero = document.getElementById("hero");

        if (header && sectionHero) {
            header.style.transition = "unset";
            header.style.marginBottom = `-${header.offsetHeight}px`;
            header.style.background = "unset";

            window.addEventListener("scroll", () => {
                header.style.transition = "0.5s ease";

                if (window.scrollY > 200) {
                    header.style.background = "#FFFCFB";
                } else {
                    header.style.background = "unset";
                }
            });
        }
    });
</script>

<style lang="scss">
    section#hero {
        height: 90dvh;
        background-image: url("/images/tableau-hero.png");
        background-size: cover;
        background-position: bottom;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            text-align: center;
            @include font-title();
            font-size: clamp(16px, 15vw, 128px);

            span {
                display: block;
                width: fit-content;
                margin: auto auto;
                transform: translateX(50%);
            }
        }
    }

    section#biography {
        margin-top: 5rem;
        display: flex;
        gap: 6rem;

        @include respond-to("tablet") {
            flex-direction: column;
            gap: 2rem;
        }

        div {
            h2 {
                @include font-title();
            }

            p {
                margin-top: 1rem;
            }

            a {
                display: block;
                width: fit-content;
                margin-top: 1rem;
                padding: 0.5rem;
                background: $color-primary;
                color: $color-white;
                font-family: $fontface-medium;
                /* font-size: 20px; */
                transition: 0.5s cubic-bezier(0, 1, 1, 1);

                &:hover {
                    scale: 0.95;
                }
            }
        }

        img {
            width: calc(100% * 5 / 12);
            border-radius: 1rem;
            object-fit: cover;

            @include respond-to("tablet") {
                width: unset;
            }
        }
    }
</style>
