<header>
    <h2><a href="/">Philippe Journiac</a></h2>

    <nav>
        <a href="/tableaux">Galerie</a>
        <a href="/actualites">Actualités</a>
        <a class="btn-contact" href="/contact">Contact</a>
    </nav>

    <button>
        <div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </button>
</header>

<script>
    document.addEventListener('astro:page-load', () => {
        const header = document.querySelector('header');
        const button = document.querySelector('button');
        
        window.addEventListener('scroll', () => {
            if (!header) return;
            
            if (window.scrollY > 50) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });

        button?.addEventListener('click', () => {
            button.classList.toggle('actived');
        });
    });
</script>

<style lang="scss">
    header {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 2rem 8rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        transition: background .5s;

        @include respond-to("tablet") {
            padding: 2rem 4rem;
        }
        
        @include respond-to("mobile") {
            padding: 1rem 2rem;
        }

        &.scrolled {
            background: $color-white;
        }

        h2 * {
			@include font-title(24);
        }

        nav {
            display: flex;
            align-items: center;
            gap: 2rem;
            color: $color-primary;
            font-family: $fontface-medium;

            @include respond-to("tablet") {
                display: none;
            }

            .btn-contact {
                background: $color-primary;
                color: $color-white;
                padding: .5rem;
            }
        }

        button {
            border: unset;
            background: unset;
            padding: .25rem;
            cursor: pointer;

            &.actived {
                & > div {
                    div:nth-child(1) {
                        top: calc(50% - 1px);
                        transform: rotateZ(45deg);
                    }
                    
                    div:nth-child(2) {
                        opacity: 0;
                    }
                    
                    div:nth-child(3) {
                        bottom: calc(50% - 1px);
                        transform: rotateZ(-45deg);
                    }
                }
            }
            
            & > div {
                position: relative;
                width: 2rem;
                height: 1.5rem;
                
                div {
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    background: $color-primary;
                    transition: .5s ease;
                    
                    &:nth-child(1) {
                        top: 0;
                    }
                    
                    &:nth-child(2) {
                        top: calc(50% - 1px);
                    }
                    
                    &:nth-child(3) {
                        bottom: 0;
                    }
                }
            }
        }
    }
</style>