---
import BurgerMenu from "./BurgerMenu.astro";
---

<header>
    <h2><a href="/">Philippe Journiac</a></h2>

    <nav>
        <a href="/galerie">Galerie</a>
        <a href="/actualites">Actualités</a>
        <a class="btn-contact" href="/contact">Contact</a>
    </nav>

    <BurgerMenu/>
</header>

<style lang="scss">
    header {
        position: sticky;
        top: 0;
        width: 100%;
        padding: 2rem 8rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $color-white;
        z-index: 2;
        @extend %transition;

        @include respond-to("tablet") {
            padding: 2rem 4rem;
        }
        
        @include respond-to("mobile") {
            padding: 1rem 2rem;
        }

        h2 * {
			@include font-title(24);
        }

        nav {
            display: flex;
            align-items: center;
            gap: 2rem;
            color: $color-primary;
            font-family: $fontface-medium;

            @include respond-to("tablet") {
                display: none;
            }

            .btn-contact {
                background: $color-primary;
                color: $color-white;
                padding: .5rem;
                transition: .5s cubic-bezier(0,1,1,1);

                &:hover {
                    scale: 0.95;
                }
            }
        }
    }
</style>