<header>
    <h2><a href="/">Philippe Journiac</a></h2>

    <nav>
        <a href="/tableaux">Galerie</a>
        <a href="/actualites">Actualites</a>
    </nav>
</header>

<style lang="scss">
    header {
        padding: 2rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 * {
            font-size: $fontsize-secondary;
            font-family: $fontface-semibold;
        }

        a {
            text-decoration: inherit;
            color: inherit;
        }

        nav {
            display: flex;
            gap: 2rem;
        }
    }
</style>