---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import '../assets/styles/_reset.scss';
import '../assets/styles/style.scss';

const { pageTitle } = Astro.props;
const title = pageTitle ? pageTitle + " | Philippe Journiac" : "Philippe Journiac";
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		 todo: icons à mettre dans le dossier public
		<link rel="icon" href="/favicon.ico" /> -->
		<meta name="generator" content={Astro.generator} />
		<!-- todo: c'est quoi ça ? "Astro.generator" -->
		<title>{title}</title>
		<!-- todo: titre dynamique avec l'endroit de la page (exemple: "Accueil | Philippe Journiac") (ajout d'un params je crois) -->
	</head>
	<body>
		<Header />

		<slot />

		<Footer />
	</body>
</html>